<configuration 
  xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="<%= solutionX %>.Project.SharedContent" dependencies="<%= solutionX %>.Foundation.*,<%= solutionX %>.Feature.*">
          <targetDataStore physicalRootPath="$(<%= solutionX %>.SerializationSource)Project\Shared\serialization.content" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Content.Tenant" database="master" path="/sitecore/content/<%= solutionX %>">
              <exclude children="true" />
            </include>
            <include name="Dictionary.Tenant" database="master" path="/sitecore/system/Dictionary/<%= solutionX %>">
              <exclude children="true" />
            </include>
          </predicate>
          <dataProviderConfiguration enableTransparentSync="false" type="Unicorn.Data.DataProvider.DefaultUnicornDataProviderConfiguration, Unicorn" singleInstance="true" />
          <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" maxConcurrency="1" type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
