<?xml version="1.0"?>
<configuration 
    xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <services>
            <configurator type="<%= solutionX %>.Foundation.GlassMapper.Infrastructure.GlassMapperConfigurator, <%= solutionX %>.Foundation.GlassMapper"/>
        </services>
    </sitecore>
</configuration>