<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.1" targetFramework="net48" />
  <package id="Glass.Mapper.Sc.101" version="5.8.177" targetFramework="net48" />
  <package id="Glass.Mapper.Sc.101.Core" version="5.8.177" targetFramework="net48" />
  <package id="Glass.Mapper.Sc.101.Mvc" version="5.8.177" targetFramework="net48" />
  <package id="Glass.Mapper.Sc.101.WebForms" version="5.8.177" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.5" targetFramework="net48" />
  <package id="Sitecore.Kernel" version="10.1.1" targetFramework="net48" />
</packages>