<?xml version="1.0" encoding="utf-8"?>
<packages>
<% if (majorVersion == '9.0') { -%>
    <package id="StyleCop.MSBuild" version="5.0.0" targetFramework="net462" developmentDependency="true" />
<% } else { -%>
    <package id="StyleCop.MSBuild" version="5.0.0" targetFramework="net471" developmentDependency="true" />
<% } -%>
</packages>