<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=localhost;Initial Catalog=sc90_Core;User ID=coreuser;Password=Test12345" />
  <add name="master" connectionString="Data Source=localhost;Initial Catalog=sc90_Master;User ID=masteruser;Password=Test12345" />
  <add name="web" connectionString="Data Source=localhost;Initial Catalog=sc90_Web;User ID=webuser;Password=Test12345" />
  <add name="xconnect.collection" connectionString="https://sc90.xconnect" />
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=52B85D00A3ACE917A0F903276CBC0DBBE47EE36D" />
  <add name="xdb.referencedata" connectionString="Data Source=localhost;Initial Catalog=sc90_ReferenceData;User ID=referencedatauser;Password=Test12345" />
  <add name="xdb.referencedata.client" connectionString="https://sc90.xconnect" />
  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=52B85D00A3ACE917A0F903276CBC0DBBE47EE36D" />
  <add name="xdb.processing.pools" connectionString="Data Source=localhost;Initial Catalog=sc90_Processing.Pools;User ID=poolsuser;Password=Test12345" />
  <add name="reporting" connectionString="Data Source=localhost;Initial Catalog=sc90_Reporting;User ID=reportinguser;Password=Test12345" />
  <add name="xdb.processing.tasks" connectionString="Data Source=localhost;Initial Catalog=sc90_Processing.Tasks;User ID=tasksuser;Password=Test12345" />
  <add name="xdb.marketingautomation" connectionString="Data Source=localhost;Initial Catalog=sc90_MarketingAutomation;User ID=marketingautomationuser;Password=Test12345" />
  <add name="xdb.marketingautomation.reporting.client" connectionString="https://sc90.xconnect" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=52B85D00A3ACE917A0F903276CBC0DBBE47EE36D" />
  <add name="xdb.marketingautomation.operations.client" connectionString="https://sc90.xconnect" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=52B85D00A3ACE917A0F903276CBC0DBBE47EE36D" />
  <add name="experienceforms" connectionString="Data Source=localhost;Initial Catalog=sc90_ExperienceForms;User ID=formsuser;Password=Test12345" />
</connectionStrings>